$color-principal: #797977;
$color-secundario: #262626;
$color-letras: whitesmoke;
$font-family: Arial, Helvetica, sans-serif;
$titulo-background: repeating-linear-gradient(-55deg, #262626, #262626 10px, #797977 10px, #797977 20px);
$border-style-producto: dotted;
$border-style-principal: groove;
$border-radius-principal: 10px;
$logo: 20px;
$width-principal: 100%;



@mixin flex-principal(){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin bordesSecundarios (){
    border-style: $border-style-producto;
    border-color: $color-secundario;
    border-radius: $border-radius-principal;
}
@mixin bordesPrincipales (){
    border-style: $border-style-principal;
    border-color: $color-secundario;
    border-radius: $border-radius-principal;
}

.titulo-producto {
    width: $width-principal;
    margin-top: 25px;
    @include bordesPrincipales();
    background: $titulo-background;
}


.talle {
    color: $color-secundario;
    font-family: $font-family;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 100px;
    padding-top: 10px;
    border-radius: 5px;
    border: $color-secundario;
    border-style: $border-style-producto;

}

.header {
    position: sticky;
    background-color: $color-secundario;
}

  











* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
.navegacion-principal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
  
.menu-wrap {
    top: 0;
    left: 0;
    z-index: 1;
}
  
.menu-wrap .toggler {
    margin-top: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
  
.menu-wrap .hamburger {
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: $logo;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background-color: $color-secundario;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  /* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: $width-principal;
    height: 2px;
    background-color: $color-principal;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
  
  /* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: $width-principal;
    height: 2px;
    background-color: $color-principal;
}
  
  /* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}
  
  /* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

  /* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
  
  /* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
  
  /* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
  
.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
  
.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: 0.4s ease 0.4s;
}
  
.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: $width-principal;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.menu-wrap .menu > div {
    background-color: $color-principal;
    opacity: 0.8;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}
  
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: 0.4s ease;
}
  
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: $color-letras;
    font-size: 1.5rem;
    padding: 1rem;
}
  
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
  
.logo {
    margin-left: $logo;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.lista-nav {
    font-family: $font-family;
    color: $color-letras;
}
  
.lista-talles {
    text-decoration: none;
    float: none;
    margin-bottom: 25px;
}
  
  /*Main*/
body {
    background-color: $color-principal;
}
  
.titulo {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 45px;
    font-family: $font-family;
    color: $color-letras;
}
  
.producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.main-pagina-productos {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
  
.main-nosotros {
    margin-left: 50px;
    margin-bottom: 150px;
    margin-right: 50px;
}
  
.main-gorra-coral {
    margin-bottom: 150px;
}
  
.main-pagina-productos-grid-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
  
.titulo-producto {
    width: $width-principal;
    margin-top: 25px;
    @include bordesPrincipales();
    background: $titulo-background;
}
  
.section-imagen-talle-gorra-coral {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
  
.section-descripcion-gorra-coral {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 800px;
}
  
.imagen-producto-gorra-coral {
    margin-left: 100px;
}
  
.talle {
    color: $color-secundario;
    font-family:$font-family;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 100px;
    padding-top: 10px;
    border-radius: 5px;
    border: $color-secundario;
    border-style: $border-style-producto;
}
  
.talles {
    list-style-type: disc;
    padding-left: 50px;
}
  
.descripcion-nosotros {
    height: fit-content;
    padding: 10px;
    @include bordesSecundarios();
}
  
.descripcion-gorra-coral {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    @include bordesSecundarios();
}
  
.descripcion-nosotros-1 {
    height: fit-content;
    padding: 3px;
    @include bordesSecundarios();
}
  
.nombre-index {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 20px;
    font-family: $font-family;
    color: $color-letras;
}
  
.contenedor-1 {
    margin-bottom: 150px;
}
  
.center {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: $width-principal;
    border-radius: 20px;
    border-color: $color-secundario;
    border-style: $border-style-principal;
}
  
.center_gorra {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: $width-principal;
    height: 100%;
    border-radius: 20px;
    border-color: $color-secundario;
    border-style: $border-style-principal;
}
  
p {
    margin: 5px;
    font-family: $font-family;
    color: $color-letras;
}
  
.productos {
    margin-bottom: 20px;
}
  
.productos-remera {
    margin-bottom: 150px;
}
  
.imagen-productos {
    display: block;
    border-radius: $logo;
    border-color: $color-secundario;
    border-style: $border-style-principal;
}
  
.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.seleccion-talle {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-family: $font-family;
    color: $color-letras;
}
  
.nombre-productos {
    font-size: 20px;
    font-family: $font-family;
    color:$color-letras;
    margin-top: 50px;
    margin-bottom: 30px;
}
  
.form-contacto {
    font-size: 20px;
    font-family: $font-family;
    color: $color-letras;
}
  
.nombre-contacto {
    margin-bottom: 30px;
    border-style: $border-style-principal;
    border-radius: 5px;
    border-color: $color-secundario;
    width: 300px;
}
  
.motivo-contacto {
    margin-bottom: 30px;
    border-style: $border-style-principal;
    border-radius: 5px;
    border-color: $color-secundario;
    width: 300px;
    height: 150px;
}
  
.button-contacto {
    display: block;
    background-color: $color-secundario;
    color: $color-letras;
    font-family: $font-family;
    padding: 5px;
    margin-left: 245px;
    margin-bottom: 120px;
    border-style: $border-style-principal;
    border-radius: 5px;
    border-color:$color-secundario;
}
  
.nosotros-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}
  
.nosotros-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
  
.texto-nosotros {
    text-align: justify;
}
  
.imagen-nosotros-oficinas {
    margin-left: 25px;
}
  
.imagen-nosotros-fabrica {
    margin-right: 25px;
}
  
  /*Footer*/
.footer {
    height: 300px;
    background-color: $color-secundario;
    


}
footer a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-letras;
    text-align: center;
    padding: 50px;
    text-decoration: none;
    height: 100px;
    font-size: $logo;
    font-family:$font-family;
    color: $color-letras;
   
}
.texto-footer {
    text-align: center;
    font-size: 15px;
    font-family: $font-family;
    color: $color-letras;
}

  

  
  /* @media querries*/
  
@media (max-width: 599px)  {
  h1 {
      margin-bottom: 25px;
      font-size: 25px;
  }
  .main {
      margin: 5px;
  }
  .main-pagina-productos-grid-container {
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    
  .main-nosotros {
      margin: 0px;
  }
  .main-gorra-coral {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .titulo-producto {
      width: $width-principal;
      @include bordesPrincipales();
      background: $titulo-background
  }
  .producto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      
  }
  .section-imagen-talle-gorra-coral {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
  }
  .imagen-producto-gorra-coral {
      width: auto;
      height: auto;
      margin: 5px;
  }
  .talle {
      display: flex;
      flex-direction:column;
      color: $color-secundario;
      font-family: $font-family;
      width: inherit;
      height: 150px;
      margin: 5px;
      padding-top: $border-radius-principal;
      border-radius: 5px;
      border: $color-secundario;
      border-style: $border-style-producto;
      .talles {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        list-style-type: none;
        .talles li {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    
  }
  
  .seleccion-talle {
      width: auto;
      font-size: 20px;
  }
  .section-descripcion-gorra-coral {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 15px;
      margin-top: 0;
  }
  .descripcion-gorra-coral {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 5px;
      @include bordesSecundarios();
  }
  .nosotros-1 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 50px;
  }
  .nosotros-2 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      margin-bottom: 50px;
  }
  .descripcion-nosotros-1 {
      margin-top: 30px;
      margin-left: 15px;
  }
  .descripcion-nosotros {
      margin-top: 30px;
      margin-right: 15px;
      @include bordesSecundarios();
  }
  .imagen-nosotros-oficinas {
      margin-left: 15px;
  }
  .imagen-nosotros-fabrica {
      margin-right: 15px;
  }
    
  .form-contacto {
      margin-left: 10px;
  }
  .nombre-contacto {
      
      margin-left: 10px;
      width: 200px;
  }
  .motivo-contacto {
      margin-left: 10px;
      width: 200px;
  }
  .button-contacto {
      padding-right: 10px;
      margin-left: 160px;
  }
} 
@media (min-width: 600px) and (max-width: 800px) {
  h1 {
      font-size: 40px;
  }
  .main {
      margin: 15px;
  }
  .main-pagina-productos-grid-container {
      margin: 15px;
      @include flex-principal();
      align-items: center;
  }
  .main-nosotros {
      margin: 50px;
  }
  .main-gorra-coral {
      @include flex-principal();
  }
  .section-imagen-talle-gorra-coral {
      @include flex-principal();
      align-items: center;
  }
  .imagen-producto-gorra-coral {
      width: auto;
      height: auto;
      margin-right: 15px;
      margin-left: 15px;
  }
  .talle {
      display: flex;
      flex-direction:column;
      color: $color-secundario;
      font-family: $font-family;
      width: 400px;
      height: 150px;
      margin: 40px;
      padding-top: 10px;
      border-radius: 5px;
      border: $color-secundario;
      border-style: $border-style-producto;
  }
  .talles {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      float: left;
      padding: 0;
  
  }
  .seleccion-talle {
      font-size: 20px;
  }
  .section-descripcion-gorra-coral {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 40px;
      margin-top: 0;
  }
  .descripcion-gorra-coral {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 10px;
      @include bordesSecundarios();
  }
  .nosotros-1 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 50px;
  }
  .nosotros-2 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      margin-bottom: 50px;
  }
  .descripcion-nosotros-1 {
      margin-top: 30px;
      margin-left: 25px;
  }
  .descripcion-nosotros {
      height: fit-content;
      margin-top: 30px;
      margin-right: 25px;
      padding-left: 10px;
      padding-right: 10px;
      @include bordesSecundarios();
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  h1 {
      font-size: 60px;
  }
  .main {
      margin: 15px;
  }
  .main-pagina-productos-grid-container {
      margin: 15px;
      @include flex-principal();
      align-items: center;
  }
  .main-nosotros {
      margin: 50px;
  }
  .main-gorra-coral {
      @include flex-principal();
  }
    .section-imagen-talle-gorra-coral {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .imagen-producto-gorra-coral {
      width: auto;
      height: auto;
      margin-left: 40px;
    }
    .talle {
      color: $color-secundario;
      font-family: $font-family;
      width: 300px;
      height: 300px;
      margin-left: 40px;
      margin-right: 40px;
      padding-top: 10px;
      border-radius: 5px;
      border: $color-secundario;
      border-style: $border-style-producto;
    }
    .section-descripcion-gorra-coral {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px;
    }
    .descripcion-gorra-coral {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 10px;
      @include bordesSecundarios();
    }
    .nosotros-1 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 50px;
    }
    .nosotros-2 {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      margin-bottom: 50px;
    }
    .descripcion-nosotros-1 {
      margin-top: 30px;
      margin-left: 25px;
    }
    .descripcion-nosotros {
      height: fit-content;
      margin-top: 30px;
      margin-right: 25px;
      padding-left: 10px;
      padding-right: 10px;
      @include bordesSecundarios();
    }
    .contacto {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 200px;
    }
  
  }
  @media (min-width: 1000px) {
    .main {
      margin: 15px;
    }
    .main-gorra-coral {
      @include flex-principal();
    }
    .section-imagen-talle-gorra-coral {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .imagen-producto-gorra-coral {
      width: auto;
      height: auto;
      margin-left: 40px;
    }
    .talle {
      color: $color-secundario;
      font-family: $font-family;
      width: 300px;
      height: 450px;
      margin-left: 40px;
      margin-right: 40px;
      padding-top: 10px;
      border-radius: 5px;
      border: $color-secundario;
      border-style: $border-style-producto;
    }
    .seleccion-talle {
      font-size: 40px;
    }
    .section-descripcion-gorra-coral {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      margin-left: 150px;
      margin-right: 150px;
      margin-bottom: 100px;
    }
    .descripcion-gorra-coral {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 10px;
      @include bordesSecundarios();
    }
    .titulo-producto {
      margin-top: 25px;
      width: 1000px;
      @include bordesPrincipales();
      background: repeating-linear-gradient(-55deg, #262626, #262626 10px, #797977 10px, #797977 20px);
    }
  }
  
  /*# sourceMappingURL=styles.css.map */
  